@{
    ViewBag.Title = "Home Page";
}
<!--  Jumbotron -->
<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h1 class="media-heading">TIY Sports</h1>
            <p><span class="glyphicon glyphicon-heart"></span> For the students of The Iron Yard</p>
        </div>
        <div class="media-right">
            <img src="~/Content/Images/Sports.jpg" class="media-object img-circle" width="150" height="150">
        </div>
    </div>
</div>
<!--  PhotoArticlesPanel -->
<div class="row">
    <div class="col-sm-6 col-md-3 text-center">
        <div class="thumbnail">
            <img src="~/Content/Images/football.jpg" alt="...">
            <div class="caption">
                <h3><strong>Football</strong></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="thumbnail">
            <img src="~/Content/Images/baseball.jpg" alt="...">
            <div class="caption">
                <h3><strong>Baseball</strong></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="thumbnail">
            <img src="~/Content/Images/basketball.jpg" alt="...">
            <div class="caption">
                <h3><strong>Basketball</strong></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="thumbnail">
            <img src="~/Content/Images/quidditch.jpg" alt="...">
            <div class="caption">
                <h3><strong>Quidditch</strong></h3>
            </div>
        </div>
    </div>
</div>
<!--  NewFeaturesPanel -->
<div class="panel-group">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="text-warning">We've added some brand new features in version 2.0! <small class="text-primary">Learn more</small></h4>
        </div>
    </div>
</div>
<!--  LogInIntoEdit Panel -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><span class="glyphicon glyphicon-user"></span><small><strong> Please log in to edit</strong></small><button type="button" class="btn btn-primary btn-md pull-right">Facebook</button></p>
        </div>
    </div>
</div>
<!--  Teams Panel -->
<div class="panel-group">
    <div class="panel panel-primary">
        <!--  Teams Header Panel  -->
        <div class="panel-heading">
            <h4>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <strong>Teams</strong>
                <span class="pull-right badge">666 Teams</span>
            </h4>
        </div>
        <!--  Teams List of Image Media Teams  -->
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                    <img src="~/Content/Images/dartboard.png" class="media-object" style="width: 70px; height: 70px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong>Tampa Dart Dynamos<span class="pull-right badge">8 Players</span></strong></h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                    <img src="~/Content/Images/pingpong.jpg" class="media-object img-rounded"  style="width: 70px; height: 70px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong>St Pete Ping Pong Powerhouse<span class="pull-right badge">6 Players</span></strong></h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                    <img src="~/Content/Images/golf.jpg" class="media-object img-rounded"  style="width: 70px; height: 70px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong>Orlando Golf Gang<span class="pull-right badge">8 Players</span></strong></h4>                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>

        <!--  Pagination for TeamsPanel  -->
        <div class="panel-footer text-center">
            <ul class="pagination">
                <li><a href="#"><span class="glyphicon glyphicon-hand-left"></span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-hand-right"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--  Games Panel -->
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                <span class="glyphicon glyphicon-flash"></span>
                <strong>Games</strong>
                <span class="pull-right badge">Games are cool</span>
            </h4>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr><th>#</th><th>Home Team</th><th>Away Team</th><th>Score</th></tr>
                </thead>
                <tbody>
                    <tr class="success"><td>1</td><td>Tampa Dart Dynamos</td><td>Buffalo BullsEyes</td><td>20-17</td></tr>
                    <tr><td>2</td><td>St Pete Ping Pong Power House</td><td>Philly Paddlers</td><td>18-12</td></tr>
                    <tr><td>3</td><td>Orlando Golf Gang</td><td>Portland Putters</td><td>2-1</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
