@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>TIY Sports</strong></h1>
    <p class="lead"><span class="glyphicon glyphicon-heart"></span> For the students of The Iron Yard</p>
    <img src="~/Content/Images/Sports.jpg" alt="Alternate Text" class="img-circle" width="200" height="200"/>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img src="~/Content/Images/Football.jpg" class="img-thumbnail" alt="Alternate Text" />
        <h3><strong>Football</strong></h3>
    </div>
    <div class="col-md-3 text-center">
        <h3><strong>Baseball</strong></h3>
    </div>
    <div class="col-md-3 text-center">
        <h3><strong>Basketball</strong></h3>
    </div>
    <div class="col-md-3 text-center">
        <h3><strong>Quidditch</strong></h3>
    </div>
</div>
<p class="bg-warning">Hello</p>
<div class="row">
    <div>
        <h3>We've added some brand new features in version 2.0! <small>Learn more</small></h3>
    </div>
</div>
<div class="row well">
    <div>
        <p><span class="glyphicon glyphicon-user"></span><small><strong> Please log in to edit</strong></small></p>
    </div>
</div>